@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-accent: var(--color-rose-500);
        --color-accent-content: var(--color-rose-500);
        --color-accent-foreground: var(--color-white);
    }
    .dark {
        --color-accent: var(--color-rose-500);
        --color-accent-content: var(--color-rose-400);
        --color-accent-foreground: var(--color-white);
    }
}

.glide__bullet--active {
    background-color: var(--color-accent) !important;
}
